#elemento-pai{
    width: 100%;
    height: 100%;
    
}
header{
    background: #2C3E63;
    width: 250px;
    height: 700px;
}

a {
    cursor: pointer;
}

h1{
    color: #FFFFFF;
    font-size:30px;
    text-align: center;
    border-bottom: 1px solid #77797C;
    padding: 30px;
}
.itens{
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    background: transparent;
    padding: 20px;
    border-bottom: 1px solid  #77797C; 
}
#gantt{
    background: #FFFFFF;
    height: 20px;
    width: 1100px;
}
h2{
    font-size: 20px;
    color: #77797C;
    padding-left: 60px;            
    padding-top: 35px;
    padding-bottom: 35px;
    position: fixed;
    top: 0px;
    left: 211px;
    right: 0px;
    border-bottom: 1px solid #77797C;
    position: absolute;
  
}